<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <section>
    <form id="updateProductForm" method="POST" th:action="@{/admin/update/}" th:object="${product}"
      enctype="multipart/form-data">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="rectangle-container">
              <h2>Add Image</h2>
              <hr class="solid">

              <!--upload Image-->
              <div class="imageContainer">
                <input type="file" name="image" id="file" accept="image/*" hidden>
                <div class="image-area">
                  <i class="fa-solid fa-upload icon"></i>
                  <h3>Upload Image</h3>
                  <p>Image size must be less than 5MB</p>

                </div>
                <div class="container text-center">
                  <button type="button" class="select-image btn btn-secondary">Select Image</button>
                </div>
              </div>


              <div class="space-between-divs"></div>

              <div class="container text-center mt-3">
                <button type="button" class="btn btn-outline-primary btn-block" onclick="redirectToAnotherPage()">
                  Create Category
                </button>
              </div>
            </div>
          </div>


          <!--add product to desire Category-->
          <div class="col-md-6">
            <div class="rectangle-container">
              <h2>Add Product Info</h2>
              <hr class="solid">

              <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" name="name" th:value="${product.name}" class="form-control" id="productName"
                  placeholder="Ex: Tomato,Bringal">
              </div>
              <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" name="quantity" th:value="${product.quantity}" class="form-control" id="Quantity"
                  placeholder="Ex: 45">
              </div>
              <div class="form-group">
                <label for="BatchNumber">Batch Number</label>
                <input type="text" name="batchNumber" th:value="${product.batchNumber}" class="form-control"
                  id="BatchNumber" placeholder="Ex: YUNN782JH">
              </div>


              <!--select Category from list-->
              <div class="form-group">
                <label for="categoryList">Select Category</label>
                <select id="categoryList" name="categoryId" class="form-control" onchange="updateFormAction()">
                  <option selected>Choose Category</option>
                  <option th:each="categories : ${categoryList}" th:value="${categories.categoryId}"
                    th:text="${categories.categoryName}"></option>
                </select>
              </div>

              <div class="form-group">
                <label for="ExpireDate">Expire Date</label>
                <input type="date" name="expireDate" th:value="${product.quantity}" class="form-control" id="ExpireDate"
                  placeholder="Ex: DD/MM/YYYY">
              </div>

              <div class="form-group mt-3">
                <textarea placeholder="Enter description" name="description" th:value="${product.description}"
                  id="description" class="form-control" rows="2"></textarea>
              </div>



              <div class="container text-center">
                <button type="submit" class="btn bg-primary text-white">
                  Submit
                </button>
                <button type="reset" class="btn btn-warning">
                  Reset
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <script th:src="@{/js/script.js}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>