<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Document</title>
</head>

<body>
  <section>
    <div class="container-fluid">
      <div class="row">



        <div class="col-md-6">
          <div class="rectangle-container">
            <h2>Add Image</h2>
            <hr class="solid">

            <!--upload Image-->
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" class="form-control-file" id="image" name="image">
              </div>
              <button type="submit" class="btn btn-info">Upload Image</button>

              <div class="space-between-divs"></div>
            </form>


            <h3>Create Category</h3>
            <hr class="solid">

            <!--create Category-->
            <form th:action="@{/admin/createCategory}" method="POST" th:object="${category}">

              <div class="form-group">
                <label for="inputAddress">Category</label>

                <input type="text" class="form-control" name="categoryName" th:value="${category.categoryName}"
                  id="inputAddress" placeholder="Ex: Fruits,Vegetable,Drinks">
              </div>

              <div class="container text-center mt-3">
                <button class="btn btn-outline-primary">Create Category</button>
              </div>
            </form>
          </div>
        </div>




        <div class="col-md-6">
          <div class="rectangle-container">
            <h2>Add Product Info</h2>
            <hr class="solid">

            <form>
              <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName" placeholder="Ex: Tomato,Bringal">
              </div>
              <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" class="form-control" id="Quantity" placeholder="Ex: 45">
              </div>
              <div class="form-group">
                <label for="BatchNumber">Batch Number</label>
                <input type="text" class="form-control" id="BatchNumber" placeholder="Ex: YUNN782JH">
              </div>

              <div class="form-group">
                <label for="inputState">Select Category</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>

              <div class="form-group">
                <label for="ExpireDate">Expire Date</label>
                <input type="date" class="form-control" id="ExpireDate" placeholder="Ex: DD/MM/YYYY">
              </div>

              <div class="form-group mt-3">
                <textarea placeholder="Enter description" id="description" class="form-control" rows="6"></textarea>
              </div>


              <div class="container text-center">
                <button type="submit" class="btn bg-primary text-white">
                  Submit
                </button>
                <button type="reset" class="btn btn-warning">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>