<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="bodyContainer1">
            <div class="imgcontainer">
                <form method="post" th:action="@{/addImage}" enctype="multipart/form-data">
                    <input type="file" name="images" id="file" accept="image/*">
                    <div class="container">
                        <button type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>