<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <title th:text="${title}"></title>
</head>

<body>

  <div class="sidebar">
    <h2>AD Super Shop</h2>
    <ul class="nav">
      <li>
        <a href="" th:href="@{/admin/addProduct}"> <i class="fa-solid fa-plus"></i>
          ADD PRODUCT</a>

      </li>
      <li>
        <a href="#" th:href="@{/admin/showProduct}"><i class="fa-solid fa-list"></i>
          SHOW ALL PRODUCTS</a>

      </li>

      <li>
        <a href="#" th:href="@{/admin/getCategoryList}"><i class="fa-solid fa-bars-staggered"></i>
          SHOW Category list</a>

      </li>
      <li>
        <a href="#"> <i class="fa-solid fa-plus"></i>
          ADD Employee</a>

      </li>
      <li>
        <a href="#"><i class="fa-solid fa-list"></i>
          SHOW Employee</a>

      </li>
    </ul>
  </div>

  <!--content-->

  <div class="main">
    <div class="content">
      <div th:replace="${content}"></div>
    </div>
  </div>

  <script th:src="@{/js/script.js}"></script>
</body>

</html>