<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="productContainer">
            <input type="hidden" th:value="${id}">
            
            <div class="row">
                <!-- Iterate over the list of images and product names -->
                <div th:each="product:${productList}" class="showProductContainerByCategory">
                   <input type="hidden" th:value="${product.id}">
                    <div class="productBox">
                        <!-- Product Image -->
                        <img th:src="|data:image/png;base64,${product.imgUrl}|" alt="Product Img" width="200"
                            height="190" />

                        <!-- Product Name -->
                        <div class="productName">
                            <h3 th:text="${product.name}"></h3>
                            <p th:text="${product.price}+'$'"></p>
                        </div>
                        <div class="text-center">
                            <a href="#" th:href="@{'/admin/'+${id}+'/'+${product.id}}" class="btn btn-outline-primary btn-sm">EDIT PRODUCT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</body>
</html>

