<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Product</title>
</head>

<body>
    <section>
        <div class="productContainer">
            <div class="row">
                <!-- Iterate over the list of images and product names -->
                <div th:each="product:${newProductslist}" class="showProductContainer">
                    <div class="productBox">
                        <!-- Product Image -->
                        <img th:src="|data:image/png;base64,${product.imgUrl}|" alt="Product Img" width="200"
                            height="190" />

                        <!-- Product Name -->
                        <div class="productName">
                            <h3 th:text="${product.name}"></h3>
                            <p th:text="${product.price}+'$'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>