* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;

}

.sidebar {
    position: fixed;
    background-color: #202020;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: #ED1C5B;
    padding: 30px;
}


.sidebar ul li {
    background: #202020;
    margin: 15px 0;
}

.sidebar ul li a {
    font-size: 12px;
    color: azure;
    padding: 0 15px;
}

.sidebarm ul li a:hover {
    color: black;
    margin-left: 20px;
    transition: 0.4s;
}

.main {
    margin-left: 200px;
    background: #E5E4E2;
}

.addProductContainer {
    padding: 20px;

}


.rectangle-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    min-height: 700px;
    border-radius: 10px;
    background-color: white;
}

.space-between-divs {
    margin-bottom: 100px;
    /* Adjust the margin value as needed */
}

hr.solid {
    border-top: 3px solid #bbb;
}

.imageContainer {
    max-width: 350px;
    width: 100%;
    background: blanchedalmond;
    padding: 30px;
    border-radius: 15px;
}

.image-area {
    position: relative;
    width: 100%;
    height: 200px;
    background: rgb(239, 229, 229);
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-area .icon {
    font-size: 60px;
}

.image-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.image-area p {
    color: #999;
}

.image-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}

.bodyContainer .categoryContainer {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
}

.bodyContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}


.bodyContainer1 .imgcontainer {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
}

.productContainer {
    display:flexbox;
    min-height: 100vh;
    padding: 25px;  
}


.productContainer .showProductContainer {
    max-width: 200px;
    width: 100%;
    height: 250px;
    background: #fff;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.productBox img{
   object-fit: cover;
}

.productName {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productName h3{
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
}



