* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;

}

.sidebar {
    position: fixed;
    background-color: #5E7D7E;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2 {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: #ED1C5B;
    padding: 30px;
}


.sidebar ul li {
    background: #5E7D7E;
    margin: 15px 0;
}

.sidebar ul li a {
    font-size: 12px;
    color: azure;
    padding: 0 15px;
}

.sidebarm ul li a:hover {
    color: black;
    margin-left: 20px;
    transition: 0.4s;
}

.main {
    margin-left: 200px;
    padding: 30px;
    background: #E5E4E2;
}


.rectangle-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    min-height: 700px; /* Adjust the height as needed */
    border-radius: 10px;
    background-color: white;
}

.space-between-divs {
    margin-bottom: 150px; /* Adjust the margin value as needed */
}
hr.solid {
    border-top: 3px solid #bbb;
  }




